body {
    color: #2081C3;
    font-family: century gothic;
}

a:link {
    text-decoration: none;
    color: #2081C3;
}

a:visited {
    color: #2081C3;
}

a:active {
    color: #2081C3;
}

header {

    border: solid;
    line-height: 150%;
    justify-content: center;
    background-color: #78D5D7;
}



nav {
    display: flex;
    justify-content: space-around;
    border: solid;
    border-top: none;
    background-color: #F7F9F9;
    line-height: 45px;
    padding-bottom: 3px;
    padding: 0;
    font-size: 20px;

}



#content {
    display: flex;
    flex-direction: row;
    padding: 0px;

}

#left {
    width: 20%;
    padding: 0px;
    padding-left: 10px;
    border-right: 2px solid;
}

#leftup {
    padding: 0;
    border-bottom: 2px solid;
    padding-bottom: 8px;

}

#leftdown {
    padding-bottom: 20px;
}

#mainindex {
    width: 55%;
    text-align: justify;
    padding: 15px;
    margin-bottom: 20px;
}

#mainsecond {
    width: 80%;
    text-align: justify;
    padding: 15px;
    margin-bottom: 20px;
}

main {
    padding: 15px;
    text-align: justify;
    margin-bottom: 20px;
}
table {
    width: auto;
    
}

aside {
    width: 25%;
    padding: 10px;
    border-left: 2px solid;
}

footer {
    width: 100%;
    bottom: 0;
    font-family: scripts;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    background-color: #63D2FF;
    border: solid;
}

footer a:link {
    text-decoration: none;
    color: #F7F9F9;
}

footer a:visited {
    color: #F7F9F9;
}

footer a:active {
    color: #F7F9F9;
}

footer a:hover {
    color: #BED8D4;
}

h1 {
    color: #F7F9F9;
    font-weight: bold;
    text-align: center;
    font-family: bold, BOOK ANTIQUA;
    font-size: 55px;
    font-style: italic;
    font-weight: bold;
}

h2 {
    color: #2081C3;
    text-align: left;
    font-family: bold, BOOK ANTIQUA;
    font-size: x-large;
}

h3 {
    color: #2081C3;
    text-align: left;
    font-family: bold, BOOK ANTIQUA;
    font-size: x-large;
}

h4 {
    color: #2081C3;
    font-size: large;
}

a:hover {
    font-weight: bold;
    color: #78D5D7;

}

td {
    text-align: left;
    width: 50%;
}




@media screen and (max-width:1200px) {


    nav {
        list-style: none;
        flex-direction: column;
        border: solid;
        border-top: none;
        align-items: center;
        background-color: #F7F9F9;
        line-height: 45px;
        padding-bottom: 3px;
        padding: 0;
        font-size: 30px;

    }


    #content {
        flex-direction: column;
    }

    #left {
        width: 100%;
        border: 0;
        border-bottom: 0;
        text-align: center;
    }
    #leftup {
        border: 0;
    }
    #mainindex {
        border: 0;
        order: -1;
        width: 93%;
        text-align: left;

    }

    #mainsecond {
        border: 0;
        order: -1;
        width: 93%;
        text-align: left;

    }

    main {
        border: 0;
        order: -1;
        width: 93%;
        text-align: left;
    }

    aside {
        border: 0;
        border-top: 0;
        margin-top: 0;
        width: 100%;
    }

    #mainindex img {
        width: 100%;
    }
    #mainsecond img {
        width: 100%;
    }
    main img {
        width: 100%;
    }

    h1 {
        color: #F7F9F9;
        font-weight: bold;
        text-align: center;
        font-family: bold, BOOK ANTIQUA;
        font-size: 40px;
        font-style: italic;
        font-weight: bold;
    }
    td {
        text-align: left;
         width: 50%;
    }
    footer {
    width: 100%;
    bottom: 0;
    font-family: scripts;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    background-color: #63D2FF;
    border: solid;
}

footer a:link {
    text-decoration: none;
    color: #F7F9F9;
}

footer a:visited {
    color: #F7F9F9;
}

footer a:active {
    color: #F7F9F9;
}

footer a:hover {
    color: #BED8D4;
}

h1 {
    color: #F7F9F9;
    font-weight: bold;
    text-align: center;
    font-family: bold, BOOK ANTIQUA;
    font-size: 55px;
    font-style: italic;
    font-weight: bold;
}

h2 {
    color: #2081C3;
    text-align: left;
    font-family: bold, BOOK ANTIQUA;
    font-size: x-large;
}

h3 {
    color: #2081C3;
    text-align: left;
    font-family: bold, BOOK ANTIQUA;
    font-size: x-large;
}

h4 {
    color: #2081C3;
    font-size: large;
}

a:hover {
    font-weight: bold;
    color: #78D5D7;

}
}
