body {
    color: #2081C3;
    font-family: century gothic;
}

a:link {
    text-decoration: none;
    color: #2081C3;
}

a:visited {
    color: #2081C3;
}

a:active {
    color: #2081C3;
}

header {

    border: solid;
    line-height: 150%;
    justify-content: center;
    background-color: #78D5D7;
}

nav {
    border: solid;
    border-top: none;
    background-color: #F7F9F9;
    line-height: 80%;
    justify-content: center;
    padding-bottom: 3px;
    padding-top: 3px;

}

nav ul {
    padding: 0;
    list-style: none;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}

#content {
    display: flex;
    padding: 0px;

}

#left {
    width: 20%;
    padding: 0px;
    padding-left: 10px;
    border-right: 2px solid;
}

#leftup {
    padding: 0;
    border-bottom: 2px solid;
    padding-bottom: 8px;

}

#leftdown {
    padding-bottom: 20px;
}

#mainindex {
    width: 55%;
    text-align: justify;
    padding: 15px;
    margin-bottom: 20px;
}

#mainsecond {
    width: 80%;
    text-align: justify;
    padding: 15px;
    margin-bottom: 20px;
}

main {
    padding: 15px;
    text-align: justify;
    margin-bottom: 20px;
}

aside {
    width: 25%;
    padding: 10px;
    border-left: 2px solid;
}

footer {
    width: 100%;
    bottom: 0;
    font-family: scripts;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    background-color: #63D2FF;
    border: solid;
}

footer a:link {
    text-decoration: none;
    color: #F7F9F9;
}

footer a:visited {
    color: #F7F9F9;
}

footer a:active {
    color: #F7F9F9;
}

footer a:hover {
    color: #BED8D4;
}

h1 {
    color: #F7F9F9;
    font-weight: bold;
    text-align: center;
    font-family: bold, BOOK ANTIQUA;
    font-size: 55px;
    font-style: italic;
    font-weight: bold;
}

h2 {
    color: #2081C3;
    text-align: left;
    font-family: bold, BOOK ANTIQUA;
    font-size: x-large;
}

h3 {
    color: #2081C3;
    text-align: left;
    font-family: bold, BOOK ANTIQUA;
    font-size: x-large;
}

h4 {
    color: #BED8D4;
}

a:hover {
    font-weight: bold;
    color: #78D5D7;

}
